// FEFEFE
// red 490517
// green 2A4037
// red font FF5361
// green font  07F8B5
// white font FBFBFB
// grey backgroudn 767676
// light grey font BDBDBD

.button {
  background-color: #767676;
  width: 8rem;
  height: 2.9rem;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
  border-radius: 5%;
  cursor: pointer;
  &.selected {
    background-color: #2a4037;
    color: #fbfbfb;
  }
}

.stock-list {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
  &__header,
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  &__header {
    font-weight: 600;
    color: #999;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__body {
    max-height: calc(100vh - 21rem);
    overflow-y: auto;
  }

  &__item {
    border-bottom: 1px solid #333;

    &:hover {
      background-color: #111;
      cursor: pointer;
    }
  }

  .column {
    flex: 1;
    text-align: left;

    &:nth-child(3),
    &:nth-child(4) {
      text-align: right;
    }

    &.positive {
      color: #07f8b5;
    }

    &.negative {
      color: #ff5361;
    }
  }
}

@media (min-width: 768px) {
  .scrollable-scan-list-container {
    left: 5.5rem;
    height: calc(100vh - 23rem);
  }
}
