.bullish-gradient-btn {
  background: rgb(15, 237, 190);
  background: linear-gradient(
    0deg,
    rgba(15, 237, 190, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.bearish-gradient-btn {
  background: rgb(237, 37, 15);
  background: linear-gradient(
    0deg,
    rgba(254, 40, 16, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.gradient {
  background: rgb(15, 237, 190);
  background: linear-gradient(
    0deg,
    rgba(15, 237, 190, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.slider-container {
  width: 90%;
  max-width: 600px;

  text-align: center;
  color: white;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.horizontal-slider {
  height: 10px;
  background: #1a1a1a;
  border-radius: 5px;
  position: relative;
}

.track {
  background: #383f46;
  height: 100%;
  border-radius: 5px;
}

.thumb {
  height: 20px;
  width: 20px;
  background: #383f46;
  border-radius: 50%;
  cursor: grab;
  box-shadow: 0 0 5px rgba(39, 40, 41, 0.5);
  position: relative;
  top: -0.3rem;
}

.error-message {
  display: flex;
  justify-items: center;
  justify-content: center;
  background-color: #d32f2f; // Red background
  color: white; // White text color
  padding: 0.5rem 1rem; // Spacing inside the box
  border-radius: 0.5rem; // Rounded corners
  font-family: Arial, sans-serif; // Font
  font-size: 1rem; // Text size
  font-weight: bold; // Bold text
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Optional shadow for depth

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white; // White background for the icon
    color: #d32f2f; // Red color for the exclamation mark
    width: 1.5rem; // Circular size
    height: 1.5rem;
    border-radius: 50%; // Make it circular
    margin-right: 0.5rem; // Space between the icon and text
  }

  .text {
    white-space: nowrap; // Prevent text wrapping
  }
}
.success-message {
  display: flex;
  align-items: center;
  background-color: #1f1d1d; // Green background
  color: #00ff99; // White text color
  padding: 0.5rem 1rem; // Spacing inside the box
  border-radius: 0.5rem; // Rounded corners
  font-family: Arial, sans-serif; // Font
  font-size: 1rem; // Text size
  font-weight: bold; // Bold text
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Optional shadow for depth

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 60, 60); // White background for the icon
    color: #00ff99; // Green color for the checkmark
    width: 1.5rem; // Circular size
    height: 1.5rem;
    border-radius: 50%; // Make it circular
    margin-right: 0.5rem; // Space between the icon and text
    font-size: 1rem; // Adjust size of the checkmark
    font-weight: bold; // Make checkmark bold
  }

  .text {
    white-space: nowrap; // Prevent text wrapping
  }
}
