.bullish-gradient-btn {
  background: rgb(15, 237, 190);
  background: linear-gradient(
    0deg,
    rgba(15, 237, 190, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.bearish-gradient-btn {
  background: rgb(237, 37, 15);
  background: linear-gradient(
    0deg,
    rgba(254, 40, 16, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.gradient {
  background: rgb(15, 237, 190);
  background: linear-gradient(
    0deg,
    rgba(15, 237, 190, 0.2) 5%,
    rgba(248, 251, 251, 0) 100%
  );
}
.slider-container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  color: white;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.horizontal-slider {
  height: 10px;
  background: #1a1a1a;
  border-radius: 5px;
  position: relative;
}

.track {
  background: #383f46;
  height: 100%;
  border-radius: 5px;
}

.thumb {
  height: 20px;
  width: 20px;
  background: #383f46;
  border-radius: 50%;
  cursor: grab;
  box-shadow: 0 0 5px rgba(39, 40, 41, 0.5);
  position: relative;
  top: -0.3rem;
}

/* Calendar styling */
.custom-calendar {
  background-color: #070807;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: rgb(12, 20, 16);
}

/* Day cell styling */
.react-datepicker__day {
  color: #07f8b5;
  background-color: transparent;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 5px;
}

/* Selected day styling */
.react-datepicker__day--selected {
  background-color: #00aaff;
  color: rgb(91, 112, 85);
}

/* Current day styling */
.current-day {
  border: 2px solid #00aaff;
  border-radius: 50%;
}

/* Navigation buttons */
.react-datepicker__navigation {
  background-color: transparent;
  border: none;
}

.react-datepicker__navigation-icon::before {
  border-color: rgb(36, 30, 30);
}

.react-datepicker__day-name {
  color: #323636;
}

.react-datepicker__day--selected {
  background-color: #00aaff;
  color: black;
}

.react-datepicker-wrapper {
  color: #1b1919;
  .react-datepicker__view-calendar-icon input {
    padding: 0.3rem 2rem;
  }
}

.react-datepicker__navigation--next {
  right: 12px;
  height: 4rem;
}
.react-datepicker__navigation--previous {
  left: 12px;
  height: 4rem;
}
