.header {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #6e6c6c;
}

.header h1 span {
  background-color: #07f8b5;
  border-radius: 4px;
  padding: 0 4px;
}

.description {
  text-align: center;
  margin: 1rem 20px;
}

.description h2 {
  font-size: 24px;
  font-weight: bold;
}

.description p {
  font-size: 16px;
  color: #6e6c6c;
  margin: 10px 0;
}

.stock-display {
  color: #00cccc;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: baseline;
}

.stock-symbol {
  color: #fff;
  margin-right: 0.5rem;
}

.stock-price {
  color: #00cccc;
  margin-right: 0.3rem;
}

.lg-icon {
  svg {
    width: 40px;
    height: 40px;
  }
}

.button-group {
  display: flex;
  gap: 0.1rem;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    .icon {
      margin: 0.5rem;
      font-size: 1.2rem;
    }
    &.prev {
      span.text {
        padding-right: 1rem;
      }
    }
    &.next {
      span.text {
        padding-left: 1rem;
      }
    }
  }
}
