.description {
  text-align: center;
  margin: 1rem 20px;
}

.description h2 {
  font-size: 24px;
  font-weight: bold;
}

.description p {
  font-size: 16px;
  color: #6e6c6c;
  margin: 10px 0;
}

.stock-symbol {
  color: #fff;
  margin-right: 0.5rem;
}

.stock-price {
  color: #00cccc;
  margin-right: 0.3rem;
}

.lg-icon {
  svg {
    width: 40px;
    height: 40px;
  }
}
