.side-nav {
  .active {
    color: var(--brand-blue);
  }
  li {
    cursor: pointer;
    .selected {
      background: rgb(0, 189, 221);
      background: radial-gradient(
        circle,
        rgba(0, 189, 221, 1) 0%,
        rgba(8, 9, 9, 1) 88%,
        rgba(10, 10, 10, 1) 100%
      );

      position: absolute;
      left: 9.5%;
      top: 1rem;
      width: 7.1rem;
      transform: rotate(90deg);
    }
    .hidden {
      display: none;
    }
  }
}
.sidebar-container {
  position: relative;
  .sidebar {
    position: fixed;
    top: 2.5rem;
    right: 0;
    height: calc(100vh - 7.5rem);
    width: 5rem;
    background-color: #0a0a0a;
    border-left: 0.5px solid #343536;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(100%);
}

.sidebar h2 {
  margin-top: 1rem;
  text-align: center;
}

.sidebar p {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 769px) {
  .sidebar-container {
    position: relative;
    .sidebar {
      width: 7rem;
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      align-content: center;
      padding: 0 7rem;

      svg {
        width: 3rem;
        height: 3rem;
      }
      :hover {
        cursor: pointer;
      }

      li {
        .selected {
          display: none;
        }
      }
    }
  }
}
