.header {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #6e6c6c;
  }

  h1 span {
    background-color: #07f8b5;
    border-radius: 4px;
    padding: 0 4px;
  }
}
.stock-display {
  color: #00cccc;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: baseline;
}
.stock-summary {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;

  .positive {
    animation: summary-positive 1s linear;
  }
  .negative {
    animation: summary-negative 1s linear;
  }
  .stock {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 30%;

    .indicator {
      width: 2px;
      height: 30px;
      border-radius: 4px;

      &.blue {
        background-color: #4a90e2;
      }

      &.purple {
        background-color: #bd10e0;
      }

      &.orange {
        background-color: #f5a623;
      }
    }

    .details {
      flex-grow: 1;

      .name {
        display: block;
        font-size: 0.8rem;
        font-weight: bold;
      }

      .price {
        display: block;
        font-size: 0.7rem;
        color: #999;
      }
    }

    .change {
      text-align: right;

      &.positive {
        color: #00ff99;
      }

      &.negative {
        color: #ff4d4d;
      }

      span {
        display: block;
      }
    }
  }
}

.scanner-date {
  animation: colorChange 5s linear;
}
input#blind {
  display: none;
}
#blind:checked + .blind {
  .datepicker-container {
    opacity: 0;
  }
  .datepicker-icon {
    opacity: 1;
    width: 10rem;
    height: 10rem;
    border: solid;
    cursor: pointer;
  }
}
.blind {
  .datepicker-container {
    opacity: 1;
  }
  .datepicker-icon {
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    color: #dcebef;
  }
  100% {
    color: #30bddd;
  }
}

@keyframes summary-positive {
  0% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 5px #00ff95, 0 0 10px #00ff95, 0 0 20px #00ff95,
      0 0 40px #00ff95, 0 0 80px #00ff95;
  }
}

@keyframes summary-negative {
  0% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
}
